<footer>
    <p>{{ site.description }}</p>
    <section class="about">
        <div class="social-icons">
            <a href="https://github.com/devchan64" target="_blank" class="social-button github-button">
                <i class="fab fa-github"></i> View my GitHub
            </a>
            <a href="{{site.linkedin_profile}}" target="_blank" class="social-button linkedin-button">
                <i class="fab fa-linkedin"></i> Connect on LinkedIn
            </a>
        </div>
    </section>
</footer>