{% if is_home %}
<nav id="filters">  
  <ul id="tag-list">    
  </ul>  
</nav>
{% endif %}

<nav class="main-nav">
  <ul>
    <li>
      <a href="{% if is_english %}/en/{% else %}/{% endif %}">
        Home
      </a>
    </li>

    <li>
      <a href="{% if is_english %}/en/guestbook/{% else %}/guestbook/{% endif %}">
        Guestbook
      </a>
    </li>

    <li>
      <a href="{% if is_english %}/en/guestbook/{% else %}/views/{% endif %}">
        Dashboard
      </a>
    </li>

    <li><a href="{% if is_english == true %}{{ page.url | replace:'/en','' }}{% else %}/en{{ page.url }}{% endif %}">
      {% if is_english == true %}🇰🇷한국어{% else %}🇺🇸English{% endif %}
    </a>
  </li>
  </ul>
</nav>
