{% assign slug = page.url | split: '/' | last | split: '.' | first %}
{% assign image_path = '/assets/images/covers/' | append: slug | append: '.png' %}
{% assign image_exists = false %}

{% for file in site.static_files %}
  {% if file.path == image_path %}
    {% assign image_exists = true %}
  {% endif %}
{% endfor %}

<meta property="og:title" content="{{ page.title | escape }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

{%- if image_exists -%}
  <meta property="og:image" content="{{ site.url }}{{ image_path }}" />
{%- endif -%}
