button,
a.button {
  background-color: #BB2649;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover,
a.button:hover {
  background-color: #b30057;
}

button:focus,
a.button:focus {
  outline: none;
}
