/* 카드형 포스트 리스트 */
.post-list-grid {
  display: grid;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 2rem 0;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.post-list-grid li {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  transition: transform 0.2s ease;
}

.post-list-grid li:hover {
  transform: translateY(-4px);
}

.post-list-grid li a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #BB2649;
  text-decoration: none;
}

.post-list-grid li p {
  margin: 0.5rem 0 0.8rem;
  color: #555;
}

.post-list-grid li .meta {
  font-size: 0.85rem;
  color: #888;
}

.post-header h1{
  border: none;
}

table {
  border-collapse: collapse;
  margin: 2em 2em;
  background-color: #fff;
  color: #333;
  outline: 1px solid #A03A53;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
}

thead {
  background-color: #f9f6f7;
}

thead th {
  color: #A03A53;
  text-align: left;
  padding: 0.8em;
  font-weight: 600;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr {
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tbody td {
  padding: 0.75em;
  color: #333;
}

table caption {
  caption-side: bottom;
  color: #666;
  margin-top: 0.5em;
}

blockquote {
  border-left: #b30057 3px solid;
  padding-left: 0.5rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-left: 1rem;
}

a.tag {
  color: #CC5C72;
  border: 1px solid #CC5C72;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
  margin: 0 0.1em;
}

/* SVG를 담을 컨테이너 스타일 */
svg.diagram {
  // pointer-events: none;
}

/* 확대된 상태의 스타일 */
svg.diagram.enlarged {
  width: 200%;
  /* SVG를 2배로 확대 */
  height: 200%;
  /* SVG를 2배로 확대 */
  cursor: zoom-out;
  /* 클릭하면 축소되는 느낌을 주기 위한 커서 스타일 */
  display: block;
}

/* SVG를 담을 컨테이너 */
.svg-container {
  position: relative;
  /* 부모 요소 기준으로 자식 요소 위치 설정 */
  overflow-x: auto;
  /* 가로 방향으로 스크롤 가능 */
  // overflow-y: hidden; /* 세로 스크롤은 숨김 */
  width: 100%;
  /* 가로 크기는 그대로 유지 */
  height: auto;
  /* 세로 크기는 내용에 맞춰 자동 설정 */
  display: block;
  /* 부모의 display 속성에 맞추어 block 설정 */
}

/* 확대된 SVG를 담은 컨테이너 스타일 */
.svg-container.enlarged-svg-container {
  // height: auto;  /* 세로 크기를 2배로 설정 */
  // width: 100%;   /* 가로 크기는 그대로 */
}

/* 기본 트리 아이템 스타일 */
.tree-item {
  font-family: "Courier New", monospace;
  font-size: 0.95rem;
  line-height: 1.6;
  position: relative;
  padding-left: 1.5rem;
  margin-left: 0.0rem;
  color: #333;
}

/* depth 기반 들여쓰기 */
.tree-item::before {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  width: 0.4rem;
  height: 0.4rem;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 0 0 0 2px;
}

.highlight .k {
  color: #888;
}

.highlight .nl,
.highlight .na {
  color: #2E7D32;
  font-weight: bold;
}

.highlight .kc {
  color: #FF9800;
  font-weight: bold;
}

.highlighter-rouge {
  // color: #BB2649;
  font-weight: bold;
}