blockquote {
}

h2, h3 {
  font-weight: 600;
  color: #333;
}

h1 {
  font-size: 1.8em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  padding: 0.2rem 0;
  border-top: 3px solid #e1aac9;
  border-bottom: 3px solid #e1aac9;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.4em;
  border-bottom: 2px solid #8e004f;
}

h3 {
  font-size: 1.17em;
  margin-top: 2em;
  margin-bottom: 0em;
}

code,
pre {
  font-family: "Fira Code", "Source Code Pro", "Courier New", "SFMono-Regular", Consolas, Menlo, monospace;
  font-size: 0.95em;
  background-color: #f8f9fa;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  word-wrap: break-word;
}