<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Sans+KR&family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="container">
    <main>
      <!-- 홈으로 가는 버튼 -->
      {% unless page.url == "/" %}
        <a href="{{ "/" | relative_url }}" class="home-button">홈으로 가기</a>
      {% endunless %}

      {{ content }}

      {% if page.tags %}
        <div class="tags">
          <strong>🏷️ Tags:</strong>
          {% for tag in page.tags %}
            <a class="tag" href="/?tag={{ tag | uri_escape }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
      
      {% unless page.url != "/" %}
      <nav id="filters">
        <h3>🏷️ 태그</h3>
        <ul id="tag-list"></ul>
      </nav>
      {% endunless %}
      
      <!-- 페이지네이션 추가 -->
      <nav class="pagination">
        {% if page.previous %}
          <a class="prev" href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
          <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </nav>
      
      <!-- 홈으로 가는 버튼 -->
      {% unless page.url == "/" %}
        <a href="{{ "/" | relative_url }}" class="home-button">홈으로 가기</a>
      {% endunless %}            
      
    </main>

    <footer>
      <p>{{site.description}}</p>
    </footer>
  </div>
</body>
</html>
