<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Noto+Sans+KR&family=Fira+Code&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container">
    <main>

      {{ content }}

      {% if page.tags %}
      <div class="tags">
        <strong>🏷️ Tags:</strong>
        {% for tag in page.tags %}
        <a class="tag" href="/?tag={{ tag | uri_escape }}">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}

      <!-- 페이지네이션 추가 -->
      <nav class="pagination">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url | relative_url }}">&laquo; {{ page.previous.title }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url | relative_url }}">{{ page.next.title }} &raquo;</a>
        {% endif %}
      </nav>

    </main>
    {% include navigation.html %}
  </nav>
    <footer>
      <p>{{site.description}}</p>
      <section class="about">
        <div class="social-icons">
          <a href="{{site.github_profile}}" target="_blank" class="social-button github-button">
            <i class="fab fa-github"></i> View my GitHub
          </a>          
          <a href="{{site.linkedin_profile}}" target="_blank" class="social-button linkedin-button">
            <i class="fab fa-linkedin"></i> Connect on LinkedIn
          </a>
        </div>
      </section>      
    </footer>
  </div>
</body>

</html>
