<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <script src="/assets/js/view-tracker.js" defer></script>
  {% include common.html %}
</head>

<body class="container">
  {% include header.html %}
  <main class="guestbook">    

    {{ content }}

    <div id="comments"></div>

    <script src="https://utteranc.es/client.js"
            repo="devchan64/devchan64.github.io"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
  </main>
  {% include navigation.html %}
  {% include footer.html %}
</body>
</html>
